
NEXT_PUBLIC_SUPABASE_URL=https://fyenogrdlqabgqpubbgo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5ZW5vZ3JkbHFhYmdxcHViYmdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NDMzMDIsImV4cCI6MjA5NjMxOTMwMn0.b2wBytcN1p5N0ZE0c8Q2AhlZhhMtO-8zKYAZyLiX3lo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5ZW5vZ3JkbHFhYmdxcHViYmdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDc0MzMwMiwiZXhwIjoyMDk2MzE5MzAyfQ.gGWvZkk6_opIOmQm51XlwTARidxRlAwyIcuohvPlVlM
GROQ_API_KEY=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